
<html>
    <head>

        <title>
            勤怠入力画面
        </title>
    </head>
    <body>
勤怠入力(親)

        <form method='POST' action="">
            <select>
                <option value='1'>
                    ここに月日選択が入りポストで送信される
                </option>
            </select>
        </form>

        <table border="1">
            <tr>
                <th>日</th>
                <th>曜日</th>
                <th>休暇等</th>
                <th>実出勤時刻</th>
                <th>実退勤時刻</th>
                <th>作業</th>
            </tr>
            <tr>
                
            </tr>


        </table>


    </body>






</html>