{% extends 'base.html' %}

<html>
    {% block content %}
    <body>
        <h1>プロジェクト一覧</h1>
        <table border="1">
            <tr>
               <th>プロジェクトコード</th>
               <th>プロジェクト名</th>
               <th>プロジェクト開始日</th>
               <th>プロジェクト終了日</th>
               <th>作成日時</th>

               <th>更新日時</th>               

            </tr>
            {% for item in project_list %}
                <tr>
                    <td>{{ item.project_code }}</td>                    
                    <td>{{ item.project_name }}</td>                    
                    <td>{{ item.project_start }}</td>
                    <td>{{ item.project_end }}</td>
                    <td>{{ item.create_date }}</td>
                    <td>{{ item.update_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
    {% endblock content %}
</html>